body {
  font-family: "PT Mono", monospace;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-size: 25px;
}

#slash {
  text-decoration: none;
  font-size: 25px;
}

#weather-description {
  text-transform: capitalize;
}

.card {
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.main-temp {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

.main-data {
  text-align: center;
  margin-top: 80px;
}

.container {
  margin-top: 60px;
}
