body {
  font-family: "PT Mono", monospace;
}
h1 {
  text-align: center;
  margin-top: 30px;
}
h2 {
  text-align: center;
}
ul {
  list-style: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-size: 25px;
}

#slash {
  text-decoration: none;
  font-size: 25px;
  position: relative;
  right: 40px;
  bottom: 16px;
}

#weather-description {
  text-transform: capitalize;
  position: relative;
  top: 20px;
  right: 50px;
}

#celsius {
  position: relative;
  font-size: 30px;
  right: 16px;
  bottom: 12px;
}

#fahrenheit {
  position: relative;
  font-size: 30px;
  right: 65px;
  bottom: 12px;
}

#main-icon {
  margin-left: 120px;
  margin-top: 100px;
}

.card {
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.main-temp {
  text-align: center;
  margin-top: 80px;
  font-size: 50px;
}
.main-data {
  text-align: center;
  margin-top: 90px;
  font-size: 25px;
  position: relative;
  right: 50px;
}

.container {
  margin-top: 65px;
}

.insideTable {
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
}
.cardBodyInsideTable {
  margin-top: 10px;
  margin-left: 180px;
  text-align: center;
}
.main-temp .active {
  color: black;
  cursor: default;
}
